* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a2640;
}

.header-container {
  display: flex;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
  padding: 56px 100px 72px 100px;
}

.header-container div {
  display: flex;
  align-items: center;
  gap: 11.27px;
  cursor: pointer;
}

.header-container div img {
  width: 25.91px;
  height: 33.16px;
}

.header-container div h2 {
  font-weight: 700;
  font-size: 43.25px;
  line-height: 33.64px;
  letter-spacing: 0%;
  color: #ffffff;
}

.header-container nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.header-container nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.header-container nav ul button {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0a2640;
  border-radius: 24px;
  border: 2px transparent;
  padding: 8px 40px;
  cursor: pointer;
}

.header-container nav ul button:hover {
  background-color: #4a7196;
  color: #ffffff;
  transition: 0.2s;
}

.header-container nav ul button:active {
  background-color: #0e587a;
  transition: 0.2s;
}

/* =================================================================================
                              Start Hero Section 
==================================================================================== */

main {
  background-color: #0a2640;
}

.hero-section-container {
  display: flex;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  flex-direction: column;
  align-items: center;
  padding-bottom: 166px;
}

.hero-section-container h2 {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 12px;
}

.hero-section-container h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  width: 842px;
  text-align: center;
  padding-bottom: 17.5px;
}

.hero-section-container p {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  width: 745.37px;
}

/* =====================================================================================
                                Start Section One
======================================================================================== */

#section-one-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: -87px;
}

#section-one-container div {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

/* =====================================================================================
                                Start Section Two
======================================================================================== */

.section-two-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  margin: 120px 0 96px 0;
}

.section-two-container h2 {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 12px;
  text-align: start;
}

.section-two-container h1 {
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  width: 842px;
  padding-bottom: 30px;
}

.section-two-container p {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 790px;
}

/* =====================================================================================
                                Start Section Three
======================================================================================== */

#section-three {
  background-color: #0a2640;
}

.section-three-container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  padding: 96px 0 96px 0;
}

.section-three-container > h2 {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 12px;
  text-align: center;
}

.section-three-container > h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  padding-bottom: 82px;
  width: 842px;
}

.section-three-container-main-div {
  display: flex;
  align-items: center;
  gap: 141.5px;
}

.section-three-container-main-div div h2 {
  color: #4fe9a4;
  font-weight: 400;
  font-size: 96px;
  line-height: 56px;
  padding-bottom: 32px;
}

.section-three-container-main-div div p {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

/* =====================================================================================
                                Start Section Four
======================================================================================== */

.section-four-container {
  display: flex;
  justify-self: center;
  align-items: start;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  padding: 96px 0 120px 0;
}

.section-four-container h2 {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 12px;
}

.section-four-container h1 {
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 22.5px;
}

.section-four-container p {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 790px;
  padding-bottom: 52px;
}

.section-four-container-main-div {
  display: flex;
  align-items: center;
  gap: 51px;
}

.section-four-container-main-div div img {
  width: 300px;
  height: 345px;
}

.section-four-container-main-div div h3 {
  color: #000000;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  padding-top: 24px;
}

.section-four-container-main-div div > div {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-top: 12px;
}

/* =====================================================================================
                                Start Section Five
======================================================================================== */

#section-five {
  background-color: #0a2640;
}

.section-five-container {
  display: flex;
  justify-self: center;
  align-items: start;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  padding: 120px 0 120px 0;
}

.section-five-container h2 {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 12px;
}

.section-five-container h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 22.5px;
}

.section-five-container > p {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 72px;
  width: 790px;
}

.section-five-container-main-div {
  display: flex;
  align-items: center;
  gap: 72px;
  flex-direction: column;
}

.section-five-container-main-div > div {
  display: flex;
  gap: 50px;
}

.section-five-container-main-div > div img {
  width: 150px;
  height: 151px;
}

.section-five-container-main-div > div > div h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  padding-bottom: 16px;
}

.section-five-container-main-div > div > div p {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 602px;
}

/* =====================================================================================
                                Start Section six
======================================================================================== */

.section-six-container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  width: 1200px;
  border-radius: 12px;
  font-family: "Manrope", sans-serif;
  background-color: #0a2640;
  background-image: url(about-img/sec-six-tr-bg-img.svg);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 72px 0 72px 0;
  margin-top: 154px;
  margin-bottom: 84px;
}

.section-six-container h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  width: 716px;
}

.section-six-container form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-six-container form input {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  border-radius: 240px;
  border: 2px solid transparent;
  padding: 12px 158px 12px 32px;
}

.section-six-container form a button {
  color: #0a2640;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  border-radius: 56px;
  border: 2px solid transparent;
  padding: 16px 56px;
  background-color: #65e4a3;
  cursor: pointer;
  transition: 0.3s;
}

.section-six-container form a button:hover {
  background-color: #116288;
  color: #ffffff;
}

/* =====================================================================================
                                Start Footer
======================================================================================== */


.footer-container {
  display: flex;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  gap: 179px;
  padding: 100px 0 117px 17px;
}

.footer-left-main-div div {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-bottom: 40px;
}

.footer-left-main-div div img {
  width: 24.92;
  height: 32.37;
}

.footer-left-main-div div h3 {
  color: #0a2640;
  font-weight: 700;
  font-size: 43.25px;
  line-height: 33.64px;
}

.footer-left-main-div div + p {
  width: 300px;
  color: #777777;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 64px;
}

.footer-left-main-div p {
  color: #777777;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-right-main-div {
  display: flex;
  gap: 96px;
}

.footer-right-main-div ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
  width: 190px;
}

.footer-right-main-div ul h4 {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.footer-right-main-div ul li a {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
}

.footer-right-main-div ul li a span {
  color: #0a2640;
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  border-radius: 120px;
  padding: 4px 14px;
  background-color: #65e4a3;
  margin-left: 12px;
}