* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a2640;
}

.container {
  display: flex;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
  background-image: url("home-p-img/header-bg-tr-img.svg");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 56px 100px 64px 100px;
}

.container div {
  display: flex;
  align-items: center;
  gap: 11.27px;
}

.container div img {
  width: 25.91px;
  height: 33.16px;
}

.container div h2 {
  font-weight: 700;
  font-size: 43.25px;
  line-height: 33.64px;
  letter-spacing: 0%;
  color: #ffffff;
}

.container nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.container nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.container nav ul button {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0a2640;
  border-radius: 24px;
  border: 2px transparent;
  padding: 8px 40px;
  cursor: pointer;
}

.container nav ul button:hover {
  background-color: #0a2640;
  color: #ffffff;
  transition: 0.5s;
}

.container nav ul button:active {
  background-color: #116288;
  transition: 0.2s;
}

/* ==================================================================
                        Start Main Section
===================================================================== */

main {
  background-color: #0a2640;
  font-family: "Manrope", sans-serif;
}

.main-section-container {
  display: flex;
  gap: 62px;
  justify-content: space-around;
}

.main-section-container-left-div {
  margin-top: 56.5px;
}

.main-section-container-left-div h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
  width: 559px;
}

.main-section-container-left-div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #f1f1f1;
  width: 567px;
  padding-top: 16px;
}

.main-section-container-left-div-button-1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0a2640;
  margin-top: 40px;
  border-radius: 56px;
  border: 2px transparent;
  padding: 16px 56px;
  cursor: pointer;
  background-color: #65e4a3;
}

.main-section-container-left-div-button-1:hover {
  background-color: #116288;
  color: #ffffff;
  transition: 0.3s;
}

.main-section-container-left-div-button-2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  border-radius: 56px;
  padding: 16px 56px;
  border: 2px solid #fff;
  background-color: #0a2640;
  margin-left: 24px;
  cursor: pointer;
}

.main-section-container-left-div-button-2:hover {
  background-color: #ffffff;
  color: #116288;
  border: 2px solid #116288;
  transition: 0.2s;
}

.main-section-container-right-div-img-2 {
  background-color: #3f576d;
  width: 192.1751251220703px;
  height: 165.33502197265625px;
  border-radius: 15.03px;
  padding: 11px 11px 17px 11px;
  margin: 25.77px 38px 0 0px;
}

.main-section-container-two {
  display: flex;
  padding-top: 99.55px;
  padding-bottom: 75.63px;
  justify-content: center;
}

.main-section-container-two ul {
  display: flex;
  align-items: center;
}

.main-section-container-two ul li {
  list-style: none;
  padding: 0 34px; /* 56px */
}

.main-section-container-two ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.main-section-container-two ul li a img {
  width: 23.16px;
  height: 33.16px;
}

.main-section-container-two ul li a h4 {
  color: #ffffff;
  font-weight: 700;
  font-size: 36.27px;
  line-height: 28.21px;
}

#main-service-logo-two {
  width: 42.45px;
  height: 42.45px;
}

#main-service-logo-four {
  width: 42.45px;
  height: 42.45px;
}

#main-service-logo-six {
  width: 42.45px;
  height: 42.45px;
}

/* =======================================================================
                           Start Section One 
========================================================================== */

.section-one-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  margin: 84px 0 185px 0;
  font-family: "Manrope", sans-serif;
}

.section-one-container h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  text-align: center;
}

.section-one-container h2 {
  width: 842px;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #000000;
  margin: auto;
}

.section-one-container-service-main-div {
  display: flex;
  margin-top: 78px;
  gap: 100px;
}

.section-one-container-service-div-service-one img {
  width: 300px;
  height: 354px;
  border-radius: 24px;
}

.section-one-container-service-div-service-one h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding: 24px 0 12px 0;
}

.section-one-container-service-div-service-one p {
  width: 293px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  padding-bottom: 40px;
}

.section-one-container-service-div-service-one div {
  display: inline;
  gap: 12px;
}

.section-one-container-service-div-service-one div div {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #0a2640;
}

.section-one-container-service-div-service-one div i {
  width: 24px;
  padding-left: 12px;
}

.section-one-container-service-div-service-one hr {
  width: 164px;
  border: 1px solid;
  color: #0a2640;
}

.section-one-container-service-div-service-two img {
  width: 300px;
  height: 354px;
  border-radius: 24px;
}

.section-one-container-service-div-service-two h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding: 24px 0 12px 0;
}

.section-one-container-service-div-service-two p {
  width: 293px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  padding-bottom: 40px;
}

.section-one-container-service-div-service-two div {
  display: inline;
  gap: 12px;
}

.section-one-container-service-div-service-two div div {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #0a2640;
}

.section-one-container-service-div-service-two div i {
  width: 24px;
  padding-left: 12px;
}

.section-one-container-service-div-service-two hr {
  width: 164px;
  border: 1px solid;
  color: #0a2640;
}

.section-one-container-service-div-service-three img {
  width: 300px;
  height: 354px;
  border-radius: 24px;
}

.section-one-container-service-div-service-three h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding: 24px 0 12px 0;
}

.section-one-container-service-div-service-three p {
  width: 293px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  padding-bottom: 40px;
}

.section-one-container-service-div-service-three div {
  display: inline;
  gap: 12px;
}

.section-one-container-service-div-service-three div div {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #0a2640;
}

.section-one-container-service-div-service-three div i {
  width: 24px;
  padding-left: 12px;
}

.section-one-container-service-div-service-three hr {
  width: 164px;
  border: 1px solid;
  color: #0a2640;
}

/* =============================================================================
                              Start Section Two 
================================================================================ */

.section-two-container {
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.section-two-container-main-img {
  width: 494px;
  height: 610px;
}

.section-two-container-tr-main-div h2 {
  width: 493px;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.section-two-container-tr-main-div ul {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 40px 0 56px 0;
}

.section-two-container-tr-main-div ul li {
  display: flex;
  gap: 27px;
  align-items: center;
}

.section-two-container-tr-main-div ul li img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.section-two-container-tr-main-div ul li p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.section-two-container-tr-main-div button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  border-radius: 56px;
  border: 2px transparent;
  cursor: pointer;
  padding: 16px 56px;
  background-color: #0a2640;
}

.section-two-container-tr-main-div button:hover {
  background-color: #116288;
}

/* ==============================================================================
                              Start Section Three 
================================================================================= */

.section-three-container {
  display: flex;
  gap: 156px;
  justify-content: center;
  align-items: center;
  margin: 120px 0 120px 0;
  font-family: "Manrope", sans-serif;
}

.section-three-container-main-div h2 {
  color: #000000;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  padding-bottom: 64px;
  width: 493px;
}

.section-three-container-main-div ul {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.section-three-container-main-div ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 0px 34px -16px grey;
  width: 500px;
  height: 68px;
  padding: 16px 53px 16px 20px;
  border-radius: 4px;
}

.section-three-container-main-div-first-list {
  background-color: #0a2640;
  color: #ffffff;
}

/* ==============================================================================
                              Start Section four 
================================================================================= */

.section-four-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
  font-family: "Manrope", sans-serif;
  background-color: #0a2640;
  padding: 96px 0 96px 0;
}

.section-four-container-main-div-one {
  display: flex;
  align-items: flex-end;
  margin-left: 55px;
  gap: 262px;
}

.section-four-container-main-div-one h2 {
  width: 716px;
  color: #ffffff;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.section-four-container-main-div-one img {
  width: 172px;
  height: 73px;
}

.section-four-container-main-div-two {
  display: flex;
  gap: 22px;
}

.section-four-container-main-div-two-service-one {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  height: 322px;
}

.section-four-container-main-div-two-service-one p {
  width: 270px;
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 40px;
}

.albus-dumbledore {
  display: flex;
  align-items: center;
  gap: 16px;
}

.albus-dumbledore img {
  width: 58px;
  height: 58px;
}

.albus-dumbledore div h4 {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 6px;
}

.albus-dumbledore div div {
  color: #0a2640;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.section-four-container-main-div-two-service-two {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  height: 394px;
  width: 350px;
}

.section-four-container-main-div-two-service-two p {
  width: 261px;
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 40px;
}

.albus-dumbledore {
  display: flex;
  align-items: center;
  gap: 16px;
}

.albus-dumbledore img {
  width: 58px;
  height: 58px;
}

.albus-dumbledore div h4 {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 6px;
}

.albus-dumbledore div div {
  color: #0a2640;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.section-four-container-main-div-two-service-three {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  height: 358px;
}

.section-four-container-main-div-two-service-three p {
  width: 270px;
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 40px;
}

.albus-dumbledore {
  display: flex;
  align-items: center;
  gap: 16px;
}

.albus-dumbledore img {
  width: 58px;
  height: 58px;
}

.albus-dumbledore div h4 {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 6px;
}

.albus-dumbledore div div {
  color: #0a2640;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

/* ============================================================================
                               Start Section five 
=============================================================================== */

.section-five-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 56px;
  margin: 124px 0 158px 0;
  font-family: "Manrope", sans-serif;
}

.section-five-container > img {
  width: 1100px;
  height: 403px;
  border-radius: 24px;
}

.section-five-container-main-div {
  display: flex;
  gap: 100px;
}

.section-five-container-main-div h2 {
  width: 500px;
  color: #000000;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
}

.section-five-container-main-div ul li {
  display: flex;
  align-items: center;
  gap: 84px;
  padding-bottom: 16px;
}

.section-five-container-main-div ul li p {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  height: 37px;
}

.section-five-container-main-div ul li img {
  width: 28px;
  height: 28px;
}

.section-five-container-main-div hr {
  width: 500px;
  height: 1px;
  border: 1px solid #c4c4c4;
  margin-bottom: 32px;
}

/* =================================================================================
                               Start Section Six
==================================================================================== */

.section-six-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
}

.section-six-container > h3 {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.section-six-container > h2 {
  width: 842px;
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  padding-top: 12px;
}

.section-six-container-main-services {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 79px;
}

.section-six-container-service-one > img {
  width: 300px;
  height: 209px;
  border-radius: 12px;
}

.section-six-container-service-one > h4 {
  color: #0a2640;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  padding: 24px 0 12px 0;
}

.section-six-container-service-one > h4 span {
  color: #777777;
  padding-left: 12px;
}

.section-six-container-service-one > p {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 300px;
  height: 99px;
}

.section-six-service-one {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
}

.section-six-service-one img {
  width: 32px;
  height: 32px;
}

.section-six-service-one p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.section-six-container-service-two > img {
  width: 300px;
  height: 209px;
  border-radius: 12px;
}

.section-six-container-service-two > h4 {
  color: #0a2640;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  padding: 24px 0 12px 0;
}

.section-six-container-service-two > h4 span {
  color: #777777;
  padding-left: 12px;
}

.section-six-container-service-two > p {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 300px;
  height: 99px;
}

.section-six-service-two {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
}

.section-six-service-two img {
  width: 32px;
  height: 32px;
}

.section-six-service-two p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.section-six-container-service-three > img {
  width: 300px;
  height: 209px;
  border-radius: 12px;
}

.section-six-container-service-three > h4 {
  color: #0a2640;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  padding: 24px 0 12px 0;
}

.section-six-container-service-three > h4 span {
  color: #777777;
  padding-left: 12px;
}

.section-six-container-service-three > p {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 300px;
  height: 99px;
}

.section-six-service-three {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
}

.section-six-service-three img {
  width: 32px;
  height: 32px;
}

.section-six-service-three p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.section-six-load-more-button {
  color: #0a2640;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  border: 2px solid #0a2640;
  border-radius: 56px;
  padding: 16px 56px;
  background-color: #ffffff;
  margin: 84px 0 124px 0;
  display: flex;
  justify-self: center;
  cursor: pointer;
}

.section-six-load-more-button:hover {
  background-color: #0a2640;
  color: #ffffff;
}

/* =====================================================================================
                                  Start Section Seven 
======================================================================================== */

.section-seven-container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  width: 1200px;
  border-radius: 12px;
  font-family: "Manrope", sans-serif;
  background-color: #0a2640;
  background-image: url(home-p-img/sec-seven-bgc-tr-img.svg);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 72px 0 72px 0;
  margin-bottom: 84px;
}

.section-seven-container h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  width: 716px;
}

.section-seven-container form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-seven-container form input {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  border-radius: 240px;
  border: 2px solid transparent;
  padding: 12px 158px 12px 32px;
}

.section-seven-container form a button {
  color: #0a2640;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  border-radius: 56px;
  border: 2px solid transparent;
  padding: 16px 56px;
  background-color: #65e4a3;
  cursor: pointer;
}

.section-seven-container form a button:hover {
  background-color: #116288;
  color: #ffffff;
}
